body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.button {
  width: 80px;
  height: 80px;
  border-top: 1px solid #777;
  margin: 5px;
  padding: 10px 20px;
  border: px solid #bf4f74;
  font-size: 20px;
}

.container {
  justify-content: center;
  align-items: center;
  max-width: 275px;
}

.result {
  caret-color: transparent;
  height: 40px;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
